* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #08aeea;
  background-image: linear-gradient(270deg, #08aeea 0%, #2af598 100%);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.user {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 30%;
  padding: 2em;
  -webkit-box-shadow: 0px 10px 39px -5px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 10px 39px -5px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 10px 39px -5px rgba(0, 0, 0, 0.28);
}

.user img {
  border-radius: 50%;
  max-width: 100%;
}

.user li {
  list-style: none;
}

.user span {
  font-weight: 700;
}
